@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<section id="about" class="about">
    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
                <img src="assets/img/googling.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
                <h3>@Localizer["Looking for heavy equipment in Kharkiv?"]</h3>
                <p class="fst-italic">
                    @Localizer["We offer popular equipment of foreign manufacturers, which is characterized by high reliability and good operation for a long time."]
                </p>
                <ul>
                    <li><i class="ri-check-double-line"></i>@Localizer["Accuracy in work. You can easily cope with any tasks. If necessary, experienced drivers of our company will provide you with assistance."]</li>
                    <li><i class="ri-check-double-line"></i>@Localizer["Safety of use. The machine with a manipulator, which can be rented now, is completely ready for operation. We regularly carry out technical maintenance of the entire fleet, protecting you from injuries."]</li>
                    <li><i class="ri-check-double-line"></i>@Localizer["Ease of work. The proposed manipulators do not require complex installation. Contact us if you want all tasks to be solved quickly and efficiently."] </li>
                </ul>
                <p>
                    @Localizer["Renting equipment with a manipulator from our company is profitable and convenient. Renting this equipment will help you save money and time."]
                </p>
            </div>
        </div>
    </div>
</section>