@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>KHTRANS</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
    <link href="/assets/img/favicon.jpg" rel="icon">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">
</head>
<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top ">
        <div class="container d-flex align-items-center justify-content-lg-between">
            <h1 class="logo me-auto me-lg-0"><a href="/">KHTRANS<span>.</span></a></h1>
            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                    <li><a class="nav-link scrollto active" href="#hero">@Localizer["Home"]</a></li>
                    <li><a class="nav-link scrollto" href="#services">@Localizer["Equipment"]</a></li>
                    <li><a class="nav-link scrollto " href="#portfolio">@Localizer["Services"]</a></li>
                    <li><a class="nav-link scrollto" href="#about">@Localizer["About Us"]</a></li>
                    <li><a class="nav-link scrollto" href="#contact">@Localizer["Contacts"]</a></li>
                    <vc:culture-picker />
                </ul>

                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>
            <div class="social-links">
                <a href="tel:+380509735605"><i class="fa-solid fa-phone"></i></a>
                <a href="viber://chat?number=+380509735605" class="instagram"><i class="fa-brands fa-viber"></i></a>
                <a href="https://t.me/+380509735605" class="telegram"><i class="fa-brands fa-telegram"></i></a>
            </div>
        </div>
    </header>

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center justify-content-center">
        <div class="container" data-aos="fade-up">
            <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
                <div class="col-xl-6 col-lg-8">
                    <h1>@Localizer["Smart solutions with"] Kharkiv Trans<span>.</span></h1>
                    <h2>@Localizer["We are a team of talented carriers"]</h2>
                </div>
            </div>
            <div class="row gy-4 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
                <div class="col-xl-2 col-md-4">
                    <div class="icon-box">
                        <i class="fa fa-clock"></i>
                        <h3><a href="/">@Localizer["We work without days off"]</a></></h3>
                    </div>
                </div>
                <div class="col-xl-2 col-md-4">
                    <div class="icon-box">
                        <i class="fa fa-percent"></i>
                        <h3><a href="/">@Localizer["Flexible discounts system"]</a></h3>
                    </div>
                </div>
                <div class="col-xl-2 col-md-4">
                    <div class="icon-box">
                        <i class="fa fa-child-reaching"></i>
                        <h3><a href="/">@Localizer["High qualified staff"]</a></h3>
                    </div>
                </div>
                <div class="col-xl-2 col-md-4">
                    <div class="icon-box">
                        <i class="fa fa-money-bill-1"></i>
                        <h3><a href="/">@Localizer["Any form of payment"]</a></h3>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!-- ======= Render Body ======= -->
    @RenderBody()

    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="container">
            <div class="copyright">
                &copy; @DateTime.Now.Year Copyright <strong><span>KHTRANS</span></strong>. All Rights Reserved
            </div>
        </div>
    </footer>
    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" ></script>
    <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>
    <script>
        var successMessageEl = $('.sent-message');
        var errorMessageEl = $('.error-message');
        $(function () {
            var loader = $('.loading');
            $("#contactUsForm").submit(function (event) {
                event.preventDefault();
                successMessageEl.css('display', 'none');
                errorMessageEl.css('display', 'none');
                loader.css("display", "block");
                $.ajax({
                    type: "POST",
                    url: "?handler=ContactUs",
                    data: $(this).serialize(),
                    dataType: "json",
                    complete: function (data) {
                        loader.css("display", "none");
                        if (data.responseJSON && data.responseJSON.IsSuccess) {
                            successAction(data.responseJSON);
                        }
                        else {
                            errorAction(data.responseJSON);
                        }
                    }
                });
            });
        });

        function successAction(data) {
            successMessageEl.text(data.message);
            successMessageEl.css('display', 'block');
        }

        function errorAction(data) {
            errorMessageEl.text(data.message);
            errorMessageEl.css('display', 'block');
        }
    </script>
</body>
</html>